.idea
/Mundo_3/desafio107/__pycache__
/Mundo_3/desafio108/__pycache__
/Mundo_3/desafio109/__pycache__
/Mundo_3/desafio110/__pycache__
/Mundo_3/desafio111/utilidadescev/__pycache__
/Mundo_3/desafio111/utilidadescev/dado/__pycache__
/Mundo_3/desafio111/utilidadescev/moeda/__pycache__
/Mundo_3/desafio112/utilidadescev/__pycache__
/Mundo_3/desafio112/utilidadescev/dado/__pycache__
/Mundo_3/desafio112/utilidadescev/moeda/__pycache__